.top {
    background-color: rgb(20, 141, 20);
    color: white;
    text-align: center;
    padding: 20px;
    
}
.top h1 {
    margin: 0 0 10px 0;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
}
.container {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
}
.middle {
    flex: 1;
    padding-left: 20px;
}
.middle img {
    width: 200px;
}
.middle p {
    max-width: 1000px;
    text-align: left;
}
.middle2{
   border-right: 1px solid #ccc;
   padding-right: 20px;
}
button{
    background-color: #2684ff;
    color: white;
    border: none;
    padding: 10px 120px;
    margin-left: 22px; 
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 14px;
}
button:hover{
    background-color: rgb(47, 78, 179);
}
footer {
    background-color: rgb(218, 218, 218);
    color: black;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
}