.container {
 display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid black;
 background-color: rgb(221, 221, 221);
 height: 300px;
}
.box{
 background-color: rgb(79, 117, 219);
 color: white;
 width: 100px;
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}