.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f4053;
  color: white;
}
h1{
  padding: 20px;
}
nav{
  padding: 20px;
  display: flex;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: white;
}
.middle{
  background-color: rgb(240, 245, 248);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 20px auto; 
  padding: 20px;
  max-width: 1000px; 
  margin-top: 20px;
}
footer {
  background: #2f4053;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}