button{
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    border: none;
    border-radius: 2px;
    padding: 10px;
}
button:active {
    background-color: rgb(236, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
}
